html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

body {
  background-color: #fdfdfc;
  position: relative;
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem;
}

* {
  line-height: calc(1em + 1ex);
}

h1, h2 {
  font-weight: lighter;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.33em;
}

a {
  color: hsla(202, 100%, 39%, 1);
  transition: color 200ms;
}

a:hover {
  color: inherit;
}

.block-movie {
  display: block;
  padding: 1rem;
  color: inherit;
  text-decoration: none;
  transition: background-color 200ms;
}

.block-movie:hover {
  background-color: hsla(202, 100%, 39%, 0.1);
}

.block-movie > :first-child {
  margin-top: 0;
}

.block-movie > :last-child {
  margin-bottom: 0;
}
